body{
    background-color: darkred;
}

#mach{
   z-index:10;
   position: absolute;
   overflow: hidden;
}
#main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(104, 15, 15);
    width:750px;
    height:1000px;
}
#fruits{
    z-index: 5;
    position: relative;
    animation: example 3s alternate infinite;
    /* animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate; */
}
@keyframes slide {
    0% {
      transform: translateY(-300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
@keyframes example{
    0%   {margin-top: -200px;}
    100% {margin-top: 150px;}
}
#button{
    border-radius: 100%;
    width:100px;
    height:100px;
    margin-top:100px;
    margin-left:10%;
    background-color: red;
    border: 2px solid dark red;
    float:left;
    transition: margin-top 2s;
}
#button:hover{
    margin-top: 200px;
}

